#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_DH_AUTORECONF_ARGS := $(CURDIR)/autogen.sh --
DEB_CONFIGURE_EXTRA_FLAGS := PLATFORM=MX51 BUILDER=LTIB VERSION=2.0.1-1 \
	PACKAGE=gst-fsl-plugin \
	--disable-aac_dec --disable-aacp_dec --disable-bsac_dec --disable-mp3_dec \
	--disable-mp3_enc --disable-vorbis_dec --disable-wam10_dec --disable-downmix \
	--disable-wma8_enc --disable-ac3_dec --disable-h264_dec --disable-mpeg4_dec \
	--disable-mpeg2_dec --disable-wmv9mp_dec --disable-wmv78_dec


binary-install/libgst-fsl-plugins::
	chmod a+x debian/gst-fsl-plugins-lib/usr/lib/pm-utils/totemsuspend.pl
	chmod a+x debian/gst-fsl-plugins-lib/usr/lib/pm-utils/sleep.d/97v4l

common-binary-fixup-arch::
	mkdir -p $(CURDIR)/fake-home
	GST_REGISTRY=$(CURDIR)/fake-home/registry.xml dh_gstscancodecs
	rm -rf $(CURDIR)/fake-home

cleanbuilddir/gstreamer0.10-fsl-mm-plugins::
	chmod u+w -R $(CURDIR)
	rm -rf $(CURDIR)/autom4te.cache
